<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.MyndricApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyndricAI">

        <!-- Launcher -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false"/>
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false"/>

        <!-- Cases -->
        <activity android:name=".ui.cases.CasesActivity" android:exported="false"/>

        <!-- Profile -->
        <activity android:name=".ui.profile.ProfileActivity" android:exported="false"/>

        <!-- Game -->
        <activity android:name=".ui.game.LockScreenActivity" android:exported="false"/>
        <activity android:name=".ui.game.PhoneDesktopActivity" android:exported="false"/>
        <activity android:name=".ui.game.GalleryActivity" android:exported="false"/>
        <activity android:name=".ui.game.CalendarActivity" android:exported="false"/>
        <activity android:name=".ui.game.MessagesActivity" android:exported="false"/>
        <activity android:name=".ui.game.ConclusionActivity" android:exported="false"/>
        <activity android:name=".ui.game.ResultSuccessActivity" android:exported="false"/>
        <activity android:name=".ui.game.ResultFailActivity" android:exported="false"/>

    </application>

</manifest>
